@use "@carbon/react";
@use "@carbon/react/scss/components";
@use "@carbon/themes/scss/themes" as *;
@use "@carbon/themes";

@use "@carbon/styles/scss/theme";
@use "@carbon/react/scss/spacing";


.WelcomeHeader {
    background-color: white;
    // background-color: theme.$g10;
    height: 12em;
    margin-top: 3em;
    // margin: 12em 2em 2em;
}

.checklist{
    // margin-left: 2em;
    // margin-top: 2rem;
}