@use "@carbon/react";
@use "@carbon/react/scss/components";
@use "@carbon/themes/scss/themes" as *;
@use "@carbon/themes";

@use '@carbon/type';
@use "@carbon/styles/scss/theme";
@use "@carbon/react/scss/spacing";


.footer-button{
    // margin: 0 !important;
    margin-top: 10em;
    margin-left: 0 !important;
}


.SkipButton {
    border: 1px solid black !important;
    width: 23em !important;
}